@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutgl.cshtml";
}

<h3>企业信用查询系统——系统管理员操作：</h3>

<div class="glhomepage">
<table style="width: 60%;margin:auto; padding-top:60px; padding-bottom:60px;">
    <tr>
        <td><a href="/admin/listuser"><img src="/content/images/usergl1.png"   style="border:0" /></a></td>
        <td><a href="/test/index"><img src="/content/images/canshugl1.png"  style="border:0" /></a></td>
           </tr>
    
</table>
</div>