@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutgl.cshtml";
}

 <h3>企业信用查询系统——管理员操作：</h3>
<div class="glhomepage">
<table style="width: 80%;margin:auto; padding-top:60px; padding-bottom:60px;">
    <tr>
        <td><a href="/shichangzhutixinxi/caozuoindex"><img src="/content/images/shichang1.png" style="border:0;width:80%;height:80%" /></a></td>
        <td><a href="/guquanxinxi/caozuoindex"><img src="/content/images/guquan1.png"   style="border:0;width:80%;height:80%" /></a></td>
        <td><a href="/dongchandiyaxinxi/caozuoindex"><img src="/content/images/dongchan1.png"  style="border:0;width:80%;height:80%" /></a></td>

        <td><a href="/yichangchaxun/caozuoindex"><img src="/content/images/yichang1.png"   style="border:0;width:80%;height:80%" /></a></td>
        <td><a href="/heimingdanchaxun/caozuoindex"><img src="/content/images/hei1.png"  style="border:0;width:80%;height:80%" /></a></td>
        <td><a href="/chufachaxun/caozuoindex"><img src="/content/images/chufa1.png" style="border:0;width:80%;height:80%" /></a></td>
    </tr>
    
</table>
</div>
